---
import Layout from '../layouts/Layout.astro'
import PageHeader from '../components/PageHeader.astro'
import Jumbotron from '../components/Jumbotron.astro'
import { Tracks } from '../components/Tracks'
import Title from '../components/Title.astro'

export async function getStaticPaths() {
  const staticPaths = await fetch(`https://music-api.charca.workers.dev/albums`)
  const { results } = await staticPaths.json()

  return results.map(({ idAlbum }) => ({ params: { id: idAlbum } }))
}

const { id } = Astro.params

const response = await fetch(`https://music-api.charca.workers.dev/albums/${id}`)
const album = await response.json()

if (!album) return Astro.redirect('/404')

const { idAlbum, strAlbum, strAlbumThumb, strDescriptionEn, tracks } = album as IAlbum
---

<Layout title={strAlbum}>
  <main>
    <PageHeader title={strAlbum} />
    <picture>
      <img
        class='album-image max-w-[20rem] h-full object-cover w-full rounded m-auto'
        src={strAlbumThumb}
        alt={strAlbum}
        style={`view-transition-name: album-${idAlbum}`}
      />
    </picture>
    <Jumbotron title={strAlbum} description={strDescriptionEn} />

    <header class='px-2'>
      <Title title='Tracks' />
    </header>

    <Tracks tracks={tracks} />
  </main>
</Layout>
